@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth;
    background-image: url(../img/home-bg.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; 
    color: #fff;
}


main {
    height: 100vh;
    display: flex; 
    flex-direction:row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    gap: 10px;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main .desc-home {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    position: relative;
    z-index: 2; 
}

main .desc-home h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-align: left;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main .desc-home p {
    font-size: 22px;
    font-weight: 400;
    color: #e0e0e0;
    text-align: left;
    max-width: 700px;
    margin-top: 10px;
    margin: 0 auto 30px;
    line-height: 1.6;
}
.carousel{
    width: 40%;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    padding-inline: 10px;
    background-color: #000000bc;
}

.rodape p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }
    100% {
        text-shadow: 0 0 10px #fa6603, 0 0 20px #fa6603, 0 0 40px #fa6603, 0 0 80px #fa6603, 0 0 160px #fa6603  ;
    }
}