/* evento.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: rgb(253, 223, 240);
  background-image: url(../img/estrela-rosa.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  padding: 20px;
  

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
    color: #f720a5;
  text-shadow:
    0 0 5px #FF6EC7,
    0 0 10px #FF6EC7,
    0 0 20px #FF6EC7,
    0 0 40px #FF6EC7;
  font-weight: bold;
  
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espaço entre os cards */
  justify-content: flex-start;
  
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #FF6EC7;
  box-shadow: 0 0 5px #FF6EC7, 0 0 10px #FF6EC7, 0 0 20px #FF6EC7;
  width: calc((100% / 5) - 16px); /* 5 cards por linha com gap */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgb(0 0 0 / 0.15);
}

.card-img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  color: #222;
}

.card-content p {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.card-content p strong {
  color: #333;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btn-edit {
  align-self: flex-start;
  padding: 6px 12px;
  background-color: #FF1493;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn-delete{
  align-self: flex-start;
  padding: 6px 12px;
  background-color: #FF0000;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #e705a7;
}

/* Responsividade simples */
@media (max-width: 1200px) {
  .card {
    width: calc((100% / 4) - 16px); /* 4 cards por linha */
  }
}

@media (max-width: 900px) {
  .card {
    width: calc((100% / 3) - 16px); /* 3 cards por linha */
  }
}

@media (max-width: 600px) {
  .card {
    width: calc((100% / 2) - 16px); /* 2 cards por linha */
  }
}

@media (max-width: 400px) {
  .card {
    width: 100%; /* 1 card por linha */
  }
}
